---
    import { Icon } from "astro-icon";
---

<nav class="max-w-[1370px] mx-auto p-8 flex justify-between">
    <a class="logo text-xl font-medium" href="/">
        <img src="/assets/serendale.png" alt="Serendale">
    </a>
    <ul class="hidden gap-12 lg:flex" class="links">
        <li><a href="#">Smart Contracts</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">Roadmap</a></li>
        <li><a href="#">Whitepaper</a></li>
    </ul>
    <ul class="flex gap-4" class="social-links">
        <li><a href="#">
                <Icon class="w-6" name="mdi:github" />
            </a></li>
        <li><a href="#">
                <Icon class="w-6" name="mdi:discord" />
            </a></li>
        <li><a href="#">
                <Icon class="w-6" name="mdi:reddit" />
            </a></li>
        <li><a href="#">
                <Icon class="w-6" name="mdi:twitter" />
            </a></li>
    </ul>
</nav>

<style>
    li a:hover {
        filter: brightness(0.8);
    }
</style>